@import "./utils/mixins.scss";

.headerBcgrnd {
  max-width: 1920px;
  height: 80px;
  background-color: rgb(54, 139, 54);
  margin: 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    @include titleWithLines;
  }

  .section {
    @include font(17px, 500, #464646);
    max-width: 1400px;
    line-height: 3;

    .textTitle {
      @include font(19px, 500, #000000);
    }

    .orangeText {
      color: orange;
    }

    .infoList {
      margin: 30px 0;
      line-height: 2.3;

      li {
        list-style-type: disc;
        margin-left: 40px;

        &:first-child {
          @include font(19px, 400, #000000);
          list-style-type: none;
          margin-left: 0;

        }
      }

    }
  }

  .contactSection {

    ul {
      display: flex;
      margin-bottom: 40px;
      
      li {
        margin-right: 40px;
        display: flex;

        a {
          margin-left: 10px;
          cursor: pointer;
          color: rgb(10, 106, 138);
          transition: .3s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  
  .container {
    .title {
      @include titleWithLines($fontSize: 30px);
    }
  
    .section {
      @include font(14px, 500, #464646);
      line-height: 2.7;
      margin-left: 30px;
  
      .textTitle {
        @include font(17px, 500, #000000);
      }
  
      .infoList {
        margin: 30px 0;
        line-height: 2.3;
  
        li {
      
          &:first-child {
            @include font(18px, 400, #000000);
  
          }
        }
  
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  
  .container {
    .title {
      @include titleWithLines($fontSize: 25px, $lineWidth: 50%);
    }
  
    .section {
      @include font(12px, 500, #464646);
      line-height: 2.7;
      margin-left: 30px;
  
      .textTitle {
        @include font(15px, 500, #000000);
      }
  
      .infoList {
        margin: 30px 0;
        line-height: 2.3;
  
        li {
      
          &:first-child {
            @include font(15px, 400, #000000);
  
          }
        }
  
      }
    }
  }
}


@media screen and (max-width: 660px) {
  
  .container {
    .title {
      @include titleWithLines($fontSize: 20px, $lineWidth: 40%);
    }

    .contactSection {

      ul {
        margin-bottom: 25px;
        
        li {
          margin-right: 20px;
          flex-direction: column;
          align-items: center;

        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  
  .container {
    .title {
      @include titleWithLines($fontSize: 18px, $lineWidth: 40%);
    }

    .section {
      @include font(12px, 500, #464646);
      line-height: 2.7;
      margin-left: 30px;
  
      .textTitle {
        @include font(15px, 500, #000000);
      }
  
      .infoList {
        margin: 20px 0;
        line-height: 2.3;
  
        li {
      
          &:first-child {
            @include font(15px, 400, #000000);
  
          }
        }
  
      }
    }

    .contactSection {
      ul {
        margin-bottom: 25px;
        flex-direction: column;
        
        li {
          margin-right: 20px;
          flex-direction: row;
          align-items: center;

        }
      }
    }
  }
}