@import "./utils/mixins.scss";


.container {

  .label {
    @include font(13px, 400, #6e6e6e);
    margin: 7px 10px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
  }

  .calendarIcon {
    position: absolute;
    margin: 27px 20px;
    z-index: 10;
    font-size: 20px;
    cursor: pointer;
    
  }

  .dateInput {
    @include font(15px, 400, #5c5858);
    text-align: center;
    padding-top: 12px;
    padding-left: 20px;
    height: 65px;
    width: 150px;
    margin: 0 5px;
    border-radius: 8px;
    cursor: pointer;
  }
  
}
