@import "./utils/mixins";



.container {
  display: flex;
  align-items: center;
  @include font(17px, 500, #fff);

  .items {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 50px;
    }

    .item {
      margin-right: 10px;
      cursor: pointer;
      transition: .3s;
      color: inherit;

      &.login,
      &.logout {
        margin-right: 0;
        padding: 8px;
        border: 3px solid rgb(48, 184, 48);
        border-radius: 5px;
        transition: .3s;

        &:hover {
          background-color: rgb(48, 184, 48);
          color: #fff;
        }
      }

      &.logout {
        &:hover {
          background-color: rgb(175, 42, 42);
          border-color: rgb(175, 42, 42);
        }
      }
    }

    .fitem {
      margin-right: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.scrolled {
  @include font(17px, 500, #000);
}
