@import "./utils/mixins";



.container {
  display: flex;
  align-items: center;

  .items {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 50px;
    }

    .item {
      margin-right: 10px;
      @include font(17px, 500, rgb(48, 47, 46));
      cursor: pointer;
      transition: .3s;

      &.login {
        margin-right: 0;
        padding: 8px;
        border: 2px solid rgb(48, 184, 48);
        border-radius: 5px;
        transition: .3s;

        &:hover {
          background-color: rgb(48, 184, 48);
          color: #fff;
        }
      }
    }

    .fitem {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
