@import "./utils/mixins";

.header {
  position: sticky;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

    .logo {
      @include font(40px, 900, #fff);
      padding: 5px 25px;
      border-radius: 10px;
      background-color: rgb(48, 184, 48);
    }
  }
}