


.firstSection {
  width: 100%;

  .container {
    position: relative;
    height: 1030px;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url('../../public/imgs/first-frame-car.jpg');
    background-size: cover;
  }
  
}

.thirdSection {
  width: 100%;
  display: flex;
  justify-content: center;
}