



.languageMenuDropdown {
  margin-top: 25px;
  border: 2px solid rgb(48, 184, 48);
  border-radius: 2px;
  
  .languageOption {
    text-align: center;
    padding: 2px;

    &:hover {
      background-color: rgb(201, 196, 196);
    }
  }
}