@import "../styles/utils/mixins.scss";

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .isSubscribed {
    @include font(18px, 400, #3b3b3b);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    max-width: 1920px;

  }

  .form {
    margin: 50px 0;
    padding: 40px 180px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    .header {
      @include font(35px, 800, black);
      margin-bottom: 30px
    }

    .formItems {
      display: flex;
      margin-bottom: 30px;

      input {
        @include font(15px, 500, rgb(90, 86, 86));
        width: 550px;
        height: 50px;
        padding-left: 10px;
        border: 2px solid rgb(201, 198, 198);
        border-radius: 10px 0 0 10px;
  
        &:focus {
          border: 2px solid rgb(70, 182, 70);
          outline: none;
        }
      }
      
      button {
        @include font(20px, 500, #fff);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        border: 2px solid rgb(70, 182, 70);
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        background-color: rgb(70, 182, 70);
  
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}



@media screen and (max-width: 1550px) {
  .container {
  
    .form {
      margin: 30px 0;
      padding: 30px 150px;
  
      .header {
        font-size: 25px;
        margin-bottom: 20px;
      }
  
      .formItems {
        margin-bottom: 25px;
  
        input {
          font-size: 13px;
          width: 480px;
          height: 40px;
          padding-left: 8px;
  
        }
        
        button {
          font-size: 18px;
          width: 180px;
          height: 40px;
          
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .container {
  
    .form {
      margin: 35px 0;
      padding: 25px 90px;
  
      .header {
        font-size: 18px;
        margin-bottom: 15px;
      }
  
      .formItems {
        margin-bottom: 22px;
  
        input {
          font-size: 11px;
          width: 400px;
          height: 35px;
          padding-left: 8px;
  
        }
        
        button {
          font-size: 15px;
          width: 140px;
          height: 35px;
          
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {

    .isSubscribed {
      font-size: 14px;
    }
  
    .form {
      margin: 30px 0;
      padding: 20px 40px;
  
      .header {
        font-size: 15px;
        margin-bottom: 12px;
      }
  
      .formItems {
        margin-bottom: 20px;
  
        input {
          font-size: 11px;
          width: 280px;
          height: 35px;
          padding-left: 8px;
  
        }
        
        button {
          font-size: 14px;
          width: 100px;
          height: 35px;
          
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {

    .isSubscribed {
      font-size: 12px;
    }
  
    .form {
      margin: 40px 0;
      padding: 10px 15px;
  
      .header {
        font-size: 13px;
        margin-bottom: 10px;
      }
  
      .formItems {
        margin-bottom: 12px;
  
        input {
          font-size: 11px;
          width: 160px;
          height: 30px;
          padding-left: 7px;
  
        }
        
        button {
          font-size: 11px;
          width: 60px;
          height: 30px;
          
        }
      }
    }
  }
}