@import "./utils/mixins.scss";

.formContainer {
  @include formSection;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  .title {
    @include titleWithLines;
  }

  .cardContainer {
    max-width: 1700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}