@import "./utils/mixins.scss";

.rentForm {
  @include formSection;
}

.orderTitle {
 @include titleWithLines($lineWidth: 150%);
}

.orderForm {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}