@import "./utils/mixins.scss";

.rentForm {
  @include formSection;
}

.orderTitle {
 @include titleWithLines($lineWidth: 150%);
}

.orderForm {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}

@media screen and (max-width: 1180px) {
  .orderTitle {
    @include titleWithLines($fontSize: 28px, $lineWidth: 70%);
  }
}

@media screen and (max-width: 750px) {
  .orderTitle {
    @include titleWithLines($fontSize: 22px, $lineWidth: 40%, $margin: 10px, $padding: 10px);
  }
}

@media screen and (max-width: 400px) {
  .orderTitle {
    @include titleWithLines($fontSize: 18px, $lineWidth: 30%, $margin: 7px, $padding: 5px);
  }
}