@import "../styles/utils/mixins.scss";


.rentForm {
  @include formSection;
 }

 
.container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  justify-content: center;

  .header {
    @include titleWithLines;
  }

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1180px) {
  .container {
    .header {
      @include titleWithLines($fontSize: 28px, $lineWidth: 70%);
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    .header {
      @include titleWithLines($fontSize: 22px, $lineWidth: 40%, $margin: 10px, $padding: 10px);
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    .header {
      @include titleWithLines($fontSize: 18px, $lineWidth: 30%, $margin: 7px, $padding: 5px);
    }
  }
}